*{
	margin:0;
	padding:0;
}
/* --------------------------- BARRA DE NAVEGACIÓN -------------------------- */
nav{
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	box-shadow:1px 1px 7px gray;
	height:4.8em;
}
nav > ul{
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: white;
}
nav > ul > li{
	list-style-type: none;
	width: 100%;
}
.logo > a > img{
	height: 4em;
}
.logo > a:hover{
	background-color: transparent;
}
nav > ul > li > a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4em;
	text-decoration: none!important;
	color:#7d7d7d;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}
nav > ul > li > a:hover{
	background-color: #cccccc;
	color:black;
}

/* --------------------------- CONTENIDO -------------------------- */

#main-content{
	margin-top: 5em;
	color:#7d7d7d;
	padding: 5% 10%;
}

table{
	width:100%;
}
table td, table th{
	padding:.5em 1em;
}
table tr:first-of-type{
	background-color: #5e5e5e;
	color:white;
}
table tr:nth-child(even):not(:first-of-type){
	background-color: #dedede;
}

/* --------------------------- FOOTER -------------------------- */

footer{
	padding: 2em 0;
	background-color: #151515;
	color:#dedede;
	width:100%;
	text-align: center;
	font-weight: bold;
}